@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  --font-serif: Playfair Display, Georgia, Cambria, Times New Roman, Times, serif;
}

h1 {
  font-family: var(--font-serif);
  font-weight: 500;
}

[x-cloak] {
  display: none !important;
}
